*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, ol, li {
    list-style: none;
}
a, a:visited, a:hover, a:active{
color: initial;
text-decoration: none;
}
body {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #C2c2c2;
}

.header ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header ul li {
    font-size: 18px;
    transition: all 0.2s ease-in-out;

}

.header ul li:hover {
    text-decoration: underline;
}
section {
    width: 100%;
    padding: 40px 0;
    display: flex;
    border-bottom: 1px solid #C2c2c2;
    flex-direction: column;
    max-width: 720px;
}

.hero {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.hero .info {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#about{
    flex-direction: column;
    gap: 16px;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 20px 0;
}

footer img {
    width: 60px;
}

footer a:hover{
    text-decoration: underline;
}

footer div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.github-link a{
    display: flex;
    align-items: center;
    gap: 8px;
}

.github-link img {
    width: 16px;
    height: 16px;

}

.code code {
    background-color: #C2c2c2;
    padding: 8px;
    border-radius: 4px;
    font-family: monospace;
}

section h2 {
    margin-bottom: 8px;
}